<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-6">
        {% include icon-github.html username=site.github_username %}
        <ul class="contact-list">
          <li>Daniel James &lt;<a href="mailto:daniel@danielscottjames.com">daniel@danielscottjames.com</a>&gt;</li>
          <li>CJ Dimaano &lt;<a href="mailto:c.j.s.dimaano@gmail.com">c.j.s.dimaano@gmail.com</a>&gt;</li>
          <li>Sheyne Anderson &lt;<a href="mailto:sheyne@sheyne.com">sheyne@sheyne.com</a>&gt;</li>
          <li>Dyllon Gagnier &lt;<a href="mailto:dyllongagnier@gmail.com">dyllongagnier@gmail.com</a>&gt;</li>
        </ul>
      </div>
    </div>

  </div>

</footer>
